.container {
  padding: 1px;
}

body {
  background-color: rgba(255, 255, 255, 0);
}

html {
  background: url("https://res.cloudinary.com/tamas-demo/image/upload/pwa/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  background: yellow;
}